/*
    Document   : indexstyle.css
    Created on : 2015-09-01 08:08 PM
    Author     : drift123
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

body {
    background-color:red
}